.footerContainer {
  width: 100%;
  margin-top: auto;
  background-color: #00192b;
  padding: 10px 0;
  overflow: hidden;
  height: auto;

  .footerText {
    color: #fff;
    text-align: center;
    line-height: 1.5;
    margin: 20px auto;
    max-width: 800px;
  }
}

a {
  cursor: pointer;
  color: #fff;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
